.compare {
  background: radial-gradient(rgb(49, 49, 49), black);
  background-blend-mode: multiply;
  .compare_table, th {
    text-align: center;
    th {
      padding: 5px;
      text-transform: uppercase;
      color: var(--main-text-color, $main-text-color);
      &:first-child {
        text-align: start;
      }
    }
    td {
      padding: 5px;
      &:first-child {
        text-align: start;
      }
      &:not(:first-child) {
        font-size: 24px;
      }
    }
  }
  .brands_icons {
    background-color: #fff;
    .brand_img_icon {
      width: 85px;
      max-width: inherit;
    }
  }
}
//________________________________________________________________________________
@media screen and ($xs) {

}

@media screen and ($sm) {

}

@media screen and ($md) {

}

@media screen and ($lg) {
}

