.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),var(--hero-bg) center/cover no-repeat ;
  background-blend-mode: multiply;
  .brand_name {
    position: relative;
    max-width: 880px;
    margin: auto;
    border-bottom: 1px solid var(--brand-color, $brand-color);
    img.brand_new {
      position: relative;
      top: 50px;
      left: -70px;
      width: 180px;
      transform: scale(0.5);
      animation-delay: 0.4s;
    }
    .slogan {
      margin: 0;
      padding: 5px;
      color: var(--main-text-color, $main-text-color);
      font: 700 20px/24px $sec-font;
      text-transform: uppercase;
      text-align: center;
      animation-delay: 1s;
    }
  }
  .hero_main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    &>* {
      margin: 10px 20px;
    }
  }
  img.main_img {
    max-width: 300px;
    animation-delay: 0.5s;
  }
  .hero_shot_spec {
    animation-delay: 0.6s;
    li {
      padding: 5px;
      font: 400 14px/24px $main-font;
      text-transform: uppercase;
      &:before {
        content: url('img/checkbox-icon-red.png');
        margin: 10px;
        vertical-align: -3px;
      }
    }
  }

}
.brand {
  text-transform: uppercase;
  color: var(--brand-color, $brand-color);
  font-family: $sec-font;
}
.title_new_brand {
  text-align: center;
}
#carousel_1 {
  width: 300px;
  vertical-align: bottom;
  & .owl-dots .owl-dot.active span, & .owl-dots .owl-dot:hover span {
    background-color: var(--brand-color, $brand-color);
  }
}
//________________________________________________________________________________
@media screen and ($xs) {

}

@media screen and ($sm) {
  .hero {
    padding-top: 50px;
    .brand_name {
      img.brand_new {
        left: -50px;
      }
    }
  }
}

@media screen and ($md) {
  .hero {
    padding-top: 100px;
    .brand_name {
      img.brand_new {
        left: 20px;
      }
    }
  }
}

@media screen and ($lg) {
  .hero {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    .brand_name {
      .slogan {
        font: 700 24px/30px $sec-font;
      }
      img.brand_new {
        left: -50px;
      }
    }
  }
}

