$icomoon-font-path: "fonts/iconmoon/fonts" !default;
$icomoon-font-family: "icomoon" !default;

$icon-voice1: "\e900";
$icon-radio: "\e901";
$icon-phone_bluetooth_speaker: "\e902";
$icon-charg66: "\e903";
$icon-card1: "\e904";
$icon-bluetooth_connected: "\e905";
$icon-aux10: "\e906";
$icon-aux5: "\e907";