.compare {
  background: radial-gradient(rgb(24, 48, 70), black);
  background-blend-mode: multiply;
  .compare_table, th {
    text-align: center;
    td:first-child {
      text-align: start;
    }
  }
}
//________________________________________________________________________________
@media screen and ($xs) {

}

@media screen and ($sm) {

}

@media screen and ($md) {

}

@media screen and ($lg) {
}

