.fresh_comments {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(15, 22, 42, 0.5), rgba(0, 0, 0, 0.9)), url(img/background2.jpg) repeat;
  textarea {
    color: #000;
  }

  .widget-title {
    width: 260px;
    margin: auto;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid, var(--brand-color, $brand-color);
    color: var(--main-text-color, $main-text-color);
    font: 400 24px/24px $sec-font;
    text-align: center;
    text-transform: uppercase;
  }
  #recentcomments {
    display: none;
  }
  .comment-form {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
  }
  .comment-reply-title {
    text-align: center;
  }
  .comment-list {
    margin: 0;
  }
  .comment-notes{
    text-align: center;
    display: none;
  }
  .comments-title, .comment-reply-title {
    display: none;
  }
  .comment-form-comment{
    order: 2;
  }
  .comment-awaiting-moderation {
    max-width: 150px;
  }
  .comment-content {
    padding: 10px;
    margin: 20px;
    background: $sec-color;
    border-radius: 10px;
    border: 1px solid var(--brand-color, $brand-color);
    box-shadow: 0 0 10px 1px;
    p {
      color: var(--main-text-color, $main-text-color);
    }
  }
  .comment-metadata {
    padding: 10px 0;
  }
  .comment-meta {
    float: left;
    padding: 10px;
    margin: 20px;
    border-right: 1px solid var(--brand-color, $brand-color);
  }
  .comment-form-author, .comment-form-email, .comment-form-url {
    max-width: 250px;
  }
  .form-submit {
    clear: both;
    order: 3;
  }
  .comment-respond {
    position: relative;
    z-index: 2;
    max-width: 340px;
    margin: auto;
    padding: 0 10px;
    border: 1px solid var(--brand-color, $brand-color);
    border-bottom: none;
    background-color:  $sec-color;
  }
}
//________________________________________________________________________________
@media screen and ($xs) {

}

@media screen and ($sm) {

}

@media screen and ($md) {

}

@media screen and ($lg) {
  .fresh_comments {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(15, 22, 42, 0.5), rgba(0, 0, 0, 0.9)), repeat;
  }
}

