.explaining {
  background: radial-gradient(rgb(24, 48, 70), black);
  background-blend-mode: multiply;
  .flex_box {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0;
  }
  .exp_img {
    min-width: 320px;
    padding: 30px 0px;
  }
  section.widget.widget_recent_comments {
    padding: 0;
  }
}
//________________________________________________________________________________
@media screen and ($xs) {

}

@media screen and ($sm) {

}

@media screen and ($md) {

}

@media screen and ($lg) {
  .explaining {

  }
}

