div.call_to_action_hero, div.call_to_action_footer {
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
  border: 3px solid $brand-color;
  border-radius: 10px;
  padding: 10px;
  animation-iteration-count: infinite;
  text-align: center;
  animation-delay: 0.8s;
  animation-duration: 1.5s;
  .attention-1 {
    position: relative;
    top: -22px;
    width: 100px;
    margin: auto;
    border-radius: 20px;
    border: 1px solid $brand-color;
    background-color: rgba(255, 50, 50, 1);
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .attention-2 {
    width: 150px;
    margin: auto;
    color: rgba(255, 50, 50, 1);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font: 900 28px/34px $sec-font;
    text-shadow: 2px 0 $brand-color;
  }
  .prices {
    text-align: center;
    margin: 10px 0 10px 0;
    .old_price {
      display: inline-block;
      color: #8A2525;
      font: 700 24px/28px $main-font;
      text-decoration: line-through;
    }
    .new_price {
      display: inline-block;
      font: 700 32px/28px $main-font;
      color: #fbed50;
    }
  }
  .discount {
    color: $sec-text-color;
    //font-variant: all-petite-caps;
  }
  .discount_amount {
    padding: 10px 3px;
    border-radius: 20px;
    color: #fbed50;
    font-size: 24px;
    font-weight: 700;
  }

  .left_pcs {
    padding: 3px 10px;
    border-radius: 5px;
    background-color: lightgrey;
    color: black;
    font-size: 18px;
  }
  .up_sell_title {
    padding-top: 5px;
    border-top: 2px solid $brand-color;
    font-weight: 400;
    color: rgba(255, 50, 50, 1);
    text-shadow: 1px 0 $brand-color;
  }
  .up_sell {
    display: flex;
    flex-flow: row nowrap;
    *{
      max-width: 75px;
      max-height: 70px;
    }
    .plus {
      margin: 0 5px;
      font-size: 40px;
      line-height: 70px;
    }
    .amount {
      padding: 5px;
      font-size: 22px;
      line-height: 60px;
      color: #fbed50;
      font-weight: 700;
    }
    .up_sell_discount {
      color: #fbed50;
      font-weight: 700;
    }
    .brand2_img_icon {
      border: 1px solid #fbed50;
      border-radius: 5px;
      img {
        padding: 5px 3px 0 0;
      }
    }
    .up_sell_old_price {
      color: #b52e2e;
      text-decoration: line-through;
    }
  }
}
