$xs: "min-width: 568px";
$sm: "min-width: 768px";
$md: "min-width: 992px";
$lg: "min-width: 1200px";
$wrapper: 1070px;
$main-color: #6ef5ff;
$sec-color: darkblue;
$brand-color: darkgoldenrod;
$main-text-color: lightyellow;
$sec-text-color: lightgray;
$main-font: 'Arial';
$sec-font: 'Comic Sans MS';

//icons---------------------------------------


//-----------------------------------------------