$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts/iconmoon/fonts" !default;

$icon-moonvoice1: "\e900";
$icon-moonradio: "\e901";
$icon-moonphone_bluetooth_speaker: "\e902";
$icon-mooncharg66: "\e903";
$icon-mooncard1: "\e904";
$icon-moonbluetooth_connected: "\e905";
$icon-moonaux10: "\e906";
$icon-moonaux5: "\e907";
$icon-moonuniE259: "\e259";
$icon-moonuniE114: "\e114";
$icon-moonuniE014: "\e014";
$icon-moonuniE013: "\e013";
$icon-mooncamera: "\e90f";
$icon-moonheadphones: "\e910";
$icon-moonmusic: "\e911";
$icon-moonmic: "\e91e";
$icon-mooncart: "\e93a";
$icon-mooncredit-card: "\e93f";
$icon-moonlocation: "\e947";
$icon-moonwrench: "\e991";
$icon-mooncog: "\e994";
$icon-mooncogs: "\e995";
$icon-moonfire: "\e9a9";
$icon-moonpower: "\e9b5";
$icon-mooncheckmark2: "\ea11";
$icon-moonfacebook: "\ea91";
$icon-mooninstagram: "\ea92";
$icon-moontwitter: "\ea96";
$icon-moonyoutube: "\ea9d";
$icon-moondropbox: "\eaae";
$icon-mooncloud: "\eaaf";
$icon-moongithub: "\eab0";
$icon-moonwordpress: "\eab4";
$icon-moonapple: "\eabe";
$icon-moonandroid: "\eac0";
$icon-moonwindows: "\eac2";
$icon-moonlinkedin: "\eac9";
$icon-moonpinterest: "\ead2";
$icon-moonchrome: "\ead9";
$icon-moongit: "\eae7";

