$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts/iconmoon/fonts" !default;

$icon-voice1: "\e900";
$icon-radio: "\e901";
$icon-phone_bluetooth_speaker: "\e902";
$icon-charg66: "\e903";
$icon-card1: "\e904";
$icon-bluetooth_connected: "\e905";
$icon-aux10: "\e906";
$icon-aux5: "\e907";
$icon-camera: "\e90f";
$icon-headphones: "\e910";
$icon-music: "\e911";
$icon-mic: "\e91e";
$icon-cart: "\e93a";
$icon-credit-card: "\e93f";
$icon-location: "\e947";
$icon-wrench: "\e991";
$icon-cog: "\e994";
$icon-cogs: "\e995";
$icon-fire: "\e9a9";
$icon-power: "\e9b5";
$icon-checkmark2: "\ea11";
$icon-facebook: "\ea91";
$icon-instagram: "\ea92";
$icon-twitter: "\ea96";
$icon-youtube: "\ea9d";
$icon-dropbox: "\eaae";
$icon-cloud: "\eaaf";
$icon-github: "\eab0";
$icon-wordpress: "\eab4";
$icon-apple: "\eabe";
$icon-android: "\eac0";
$icon-windows: "\eac2";
$icon-linkedin: "\eac9";
$icon-pinterest: "\ead2";
$icon-chrome: "\ead9";
$icon-git: "\eae7";