@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?vht4ki');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?vht4ki#iefix') format('embedded-opentype'),
  url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?vht4ki') format('truetype'),
  url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?vht4ki') format('woff'),
  url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?vht4ki##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon_moon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-moonvoice1 {
  &:before {
    content: $icon-moonvoice1;
  }
}
.icon-moonradio {
  &:before {
    content: $icon-moonradio;
  }
}
.icon-moonphone_bluetooth_speaker {
  &:before {
    content: $icon-moonphone_bluetooth_speaker;
  }
}
.icon-mooncharg66 {
  &:before {
    content: $icon-mooncharg66;
  }
}
.icon-mooncard1 {
  &:before {
    content: $icon-mooncard1;
  }
}
.icon-moonbluetooth_connected {
  &:before {
    content: $icon-moonbluetooth_connected;
  }
}
.icon-moonaux10 {
  &:before {
    content: $icon-moonaux10;
  }
}
.icon-moonaux5 {
  &:before {
    content: $icon-moonaux5;
  }
}
.icon-moonuniE259 {
  &:before {
    content: $icon-moonuniE259;
  }
}
.icon-moonuniE114 {
  &:before {
    content: $icon-moonuniE114;
  }
}
.icon-moonuniE014 {
  &:before {
    content: $icon-moonuniE014;
  }
}
.icon-moonuniE013 {
  &:before {
    content: $icon-moonuniE013;
  }
}
.icon-mooncamera {
  &:before {
    content: $icon-mooncamera;
  }
}
.icon-moonheadphones {
  &:before {
    content: $icon-moonheadphones;
  }
}
.icon-moonmusic {
  &:before {
    content: $icon-moonmusic;
  }
}
.icon-moonmic {
  &:before {
    content: $icon-moonmic;
  }
}
.icon-mooncart {
  &:before {
    content: $icon-mooncart;
  }
}
.icon-mooncredit-card {
  &:before {
    content: $icon-mooncredit-card;
  }
}
.icon-moonlocation {
  &:before {
    content: $icon-moonlocation;
  }
}
.icon-moonwrench {
  &:before {
    content: $icon-moonwrench;
  }
}
.icon-mooncog {
  &:before {
    content: $icon-mooncog;
  }
}
.icon-mooncogs {
  &:before {
    content: $icon-mooncogs;
  }
}
.icon-moonfire {
  &:before {
    content: $icon-moonfire;
  }
}
.icon-moonpower {
  &:before {
    content: $icon-moonpower;
  }
}
.icon-mooncheckmark2 {
  &:before {
    content: $icon-mooncheckmark2;
  }
}
.icon-moonfacebook {
  &:before {
    content: $icon-moonfacebook;
  }
}
.icon-mooninstagram {
  &:before {
    content: $icon-mooninstagram;
  }
}
.icon-moontwitter {
  &:before {
    content: $icon-moontwitter;
  }
}
.icon-moonyoutube {
  &:before {
    content: $icon-moonyoutube;
  }
}
.icon-moondropbox {
  &:before {
    content: $icon-moondropbox;
  }
}
.icon-mooncloud {
  &:before {
    content: $icon-mooncloud;
  }
}
.icon-moongithub {
  &:before {
    content: $icon-moongithub;
  }
}
.icon-moonwordpress {
  &:before {
    content: $icon-moonwordpress;
  }
}
.icon-moonapple {
  &:before {
    content: $icon-moonapple;
  }
}
.icon-moonandroid {
  &:before {
    content: $icon-moonandroid;
  }
}
.icon-moonwindows {
  &:before {
    content: $icon-moonwindows;
  }
}
.icon-moonlinkedin {
  &:before {
    content: $icon-moonlinkedin;
  }
}
.icon-moonpinterest {
  &:before {
    content: $icon-moonpinterest;
  }
}
.icon-moonchrome {
  &:before {
    content: $icon-moonchrome;
  }
}
.icon-moongit {
  &:before {
    content: $icon-moongit;
  }
}

