.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  padding: 5px;
  z-index: 2;
  &.active {
    background-color: rgba(255, 150, 22, 0.3);
  }
  .site-branding {
    max-width: $wrapper;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
  }
  .site-title {
    display: inline-block;
    margin: auto;
    height: 30px;
    overflow: hidden;
    a {
      vertical-align: 7px;
      font: 400 12px/18px $main-font;
      text-transform: capitalize;
      word-spacing: 2px;
      color: var(--sec-text-color, $sec-text-color);
    }
  }

  .logo {
    margin: 0 10px 0 0;
  }

  .logo-container {
    display: flex;
    align-items: center;
  }

  .login-url {
    display: inline-block;
    width: 40px;
    height: 30px;
    margin: auto;
    overflow: hidden;
    text-align: center;
    vertical-align: -6px;
  }

  .phone {
    float: right;
    margin: auto;
    height: 30px;
    overflow: hidden;
    .tel {
      font: 400 12px/18px $main-font;
      color: var(--brand-color, $brand-color);
      vertical-align: middle;
    }
    .viber {
      border: 1px solid var(--main-text-color, $main-text-color);
      border-radius: 8px;
      padding: 1px 2px;
      background-color: #a16fff;
      color: var(--main-text-color, $main-text-color);
    }
    &:hover .tel {
      color: var(--main-text-color, $main-text-color);
      text-decoration: none;
    }
  }
}

.post-ratings {
  max-width: 360px;
  margin: 25px auto;
}
@media screen and ($xs) {
}

@media screen and ($sm) {

}

@media screen and ($md) {
  .site-header {
  .site-title a {
      vertical-align: 7px;
      font: 400 14px/18px $main-font;
    }
    .phone .tel {
      font: 400 14px/18px $main-font;
    }
  }
}

@media screen and ($lg) {

}
