$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-radio: "\e900";
$icon-bluetooth_connected: "\e1a8";
$icon-phone_bluetooth_speaker: "\e61b";
$icon-aux5: "\e901";
$icon-aux10: "\e902";
$icon-card1: "\e903";
$icon-charg66: "\e904";
$icon-voice1: "\e905";

