$icomoon-font-path: "fonts" !default;

$icon-aux1: "\e900";
$icon-aux2: "\e901";
$icon-aux3: "\e902";
$icon-aux4: "\e903";
$icon-aux5: "\e904";
$icon-aux10: "\e905";
$icon-bluetooth2: "\e906";
$icon-bluetooth3: "\e907";
$icon-bluetooth-b: "\e908";
$icon-bt4: "\e909";
$icon-phone: "\e90a";
$icon-cellular: "\e90a";
$icon-phone2: "\e90b";
$icon-contact: "\e90b";
$icon-phone-outline: "\e90c";
$icon-phone3: "\e90d";
$icon-volume-control-phone2: "\e90e";
$icon-phone-square: "\e90f";
$icon-phone4: "\e910";
$icon-phone-call: "\e911";
$icon-phone-incoming: "\e912";
$icon-phone-outgoing: "\e913";
$icon-phone-off: "\e914";
$icon-phone-missed: "\e915";
$icon-car1: "\e916";
$icon-card1: "\e917";
$icon-card2: "\e918";
$icon-card3: "\e919";
$icon-card4: "\e91a";
$icon-card5: "\e91b";
$icon-card6: "\e91c";
$icon-charg1: "\e91d";
$icon-charg2: "\e91e";
$icon-charg3-path1: "\e91f";
$icon-charg3-path2: "\e920";
$icon-charg3-path3: "\e921";
$icon-charg5: "\e922";
$icon-charg6: "\e923";
$icon-charg66: "\e924";
$icon-radio: "\e925";
$icon-radio-tower: "\e926";
$icon-mic: "\e927";
$icon-microphone2: "\e927";
$icon-record: "\e927";
$icon-voice: "\e927";
$icon-audio: "\e927";
$icon-microphone3: "\e928";
$icon-microphone4: "\e929";
$icon-voice2: "\e929";
$icon-record2: "\e929";
$icon-microphone5: "\e92a";
$icon-record3: "\e92a";
$icon-voice3: "\e92a";
$icon-microphone6: "\e92b";
$icon-record4: "\e92b";
$icon-voice4: "\e92b";
$icon-microphone7: "\e92c";
$icon-record5: "\e92c";
$icon-voice5: "\e92c";
$icon-music2: "\e92d";
$icon-songs: "\e92d";
$icon-sound: "\e92d";
$icon-music3: "\e92e";
$icon-music4: "\e92f";
$icon-music5: "\e930";
$icon-song: "\e930";
$icon-music6: "\e931";
$icon-songs2: "\e931";
$icon-audio2: "\e931";
$icon-music7: "\e932";
$icon-song2: "\e932";
$icon-audio3: "\e932";
$icon-sound2: "\e932";
$icon-note: "\e932";
$icon-phone5: "\e933";
$icon-mobile: "\e933";
$icon-contact2: "\e933";
$icon-telephone: "\e933";
$icon-iphone: "\e934";
$icon-touch: "\e934";
$icon-phone6: "\e934";
$icon-mobile2: "\e934";
$icon-phone7: "\e935";
$icon-cellular-phone: "\e935";
$icon-mobile3: "\e935";
$icon-media-play-outline: "\e936";
$icon-play-alt: "\e937";
$icon-video: "\e937";
$icon-play: "\e938";
$icon-play2: "\e939";
$icon-media-control: "\e939";
$icon-video2: "\e939";
$icon-movie: "\e939";
$icon-media-play-outline2: "\e93a";
$icon-media-play: "\e93b";
$icon-play-circle-o: "\e93c";
$icon-play-circle2: "\e93d";
$icon-play-circle3: "\e93e";
$icon-play3: "\e93f";
$icon-radio2: "\e940";
$icon-radio3: "\e941";
$icon-radio6: "\e942";
$icon-radio7: "\e943";
$icon-megaphone: "\e944";
$icon-news: "\e944";
$icon-announcements: "\e944";
$icon-advertisement: "\e944";
$icon-megaphone2: "\e945";
$icon-advertise: "\e945";
$icon-notify: "\e945";
$icon-announce: "\e945";
$icon-megaphone3: "\e946";
$icon-advertise2: "\e946";
$icon-notify2: "\e946";
$icon-announce2: "\e946";
$icon-usb2: "\e947";
$icon-usb3: "\e948";
$icon-usb9: "\e94b";
$icon-voice1: "\e94c";
$icon-bluetooth4: "\e1a7";
$icon-bluetooth_searching: "\e1aa";
$icon-bluetooth_connected: "\e1a8";
$icon-directions_car: "\e531";
$icon-markunread: "\e159";
$icon-fiber_new: "\e05e";
$icon-label: "\e892";
$icon-label_outline: "\e893";
$icon-leak_add: "\e3f8";
$icon-room: "\e8b4";
$icon-mail_outline: "\e0e1";
$icon-menu: "\e5d2";
$icon-message: "\e0c9";
$icon-mic2: "\e029";
$icon-mic_none: "\e02a";
$icon-phone_bluetooth_speaker: "\e61b";
$icon-phone_forwarded: "\e61c";
$icon-phone_in_talk: "\e61d";
$icon-phone_iphone: "\e325";
$icon-phonelink_ring: "\e0dd";
$icon-play_arrow: "\e037";
$icon-play_circle_filled: "\e038";
$icon-play_circle_outline: "\e039";
$icon-record_voice_over: "\e949";
$icon-ring_volume: "\e0d1";
$icon-router: "\e328";
$icon-rss_feed: "\e0e5";
$icon-sd_storage: "\e1c2";
$icon-sentiment_satisfied: "\e813";
$icon-settings_bluetooth: "\e8bb";
$icon-settings_input_antenna: "\e8bf";
$icon-settings_phone: "\e8c5";
$icon-settings_remote: "\e8c7";
$icon-settings_voice: "\e8c8";
$icon-share: "\e80d";
$icon-speaker_phone: "\e0d2";
$icon-star_border: "\e83a";
$icon-star_half: "\e839";
$icon-stars: "\e8d0";
$icon-tap_and_play: "\e62b";
$icon-thumb_down: "\e8db";
$icon-thumb_up: "\e8dc";
$icon-thumbs_up_down: "\e8dd";
$icon-usb4: "\e1e0";
$icon-voicemail: "\e0d9";
$icon-volume_up: "\e050";
$icon-wifi: "\e63e";
$icon-wifi_tethering: "\e1e2";
$icon-envelope-o: "\f003";
$icon-thumbs-o-up: "\f087";
$icon-thumbs-o-down: "\f088";
$icon-facebook3: "\f09a";
$icon-facebook-f: "\f09a";
$icon-google-plus4: "\f0d5";
$icon-envelope: "\f0e0";
$icon-smile-o: "\f118";
$icon-microphone: "\f130";
$icon-play-circle: "\f144";
$icon-thumbs-up: "\f164";
$icon-thumbs-down: "\f165";
$icon-youtube-square: "\f166";
$icon-youtube: "\f167";
$icon-skype2: "\f17e";
$icon-facebook-official: "\f230";
$icon-usb: "\f287";
$icon-bluetooth: "\f293";
$icon-volume-control-phone: "\f2a0";
$icon-music: "\e94a";
$icon-star-empty: "\e9d7";
$icon-star-half: "\e9d8";
$icon-star-full: "\e9d9";
$icon-smile: "\e9e1";
$icon-point-up: "\ea03";
$icon-point-right: "\ea04";
$icon-point-down: "\ea05";
$icon-point-left: "\ea06";
$icon-cancel-circle: "\ea0d";
$icon-cross: "\ea0f";
$icon-checkmark: "\ea10";
$icon-checkmark2: "\ea11";
$icon-checkbox-checked: "\ea52";
$icon-mail: "\ea83";
$icon-mail2: "\ea84";
$icon-mail3: "\ea85";
$icon-mail4: "\ea86";
$icon-google-plus: "\ea8b";
$icon-google-plus2: "\ea8c";
$icon-google-plus3: "\ea8d";
$icon-facebook: "\ea90";
$icon-facebook2: "\ea91";
$icon-instagram: "\ea92";
$icon-youtube2: "\ea9e";
$icon-skype: "\eac5";

