.flexible-middle-width, .crm-webform-iframe {
  //background-color: #1E364A;
  background-color: #ffffe1;
}
.crm-webform-header-container, .page-theme-transparent .content, .crm-webform-header {
  // background-color:  #1E364A;
  background-color: #ffffe1;
  //color: rgb(255, 150, 22);
}
.crm-webform-header {
  margin: 0;
}
.crm-webform-header-container {
  padding: 15px 20px 0 20px;
  text-align: center;
}
.crm-webform-label-title-container, .crm-webform-group {
  display: inline-block;
  margin: 0 10px;
}
button.crm-webform-submit-button {
  padding: 7px 15px;
  margin: 30px auto;
  border: 1px solid #894d0f;
  border-radius: 7px;
  outline: none;
  color: black;
  background: linear-gradient(rgb(255, 165, 44), rgb(255, 200, 125), rgb(255, 165, 44));
  text-transform: uppercase;
  font: 700 18px/24px 'Montserrat', sans-serif;
}
.crm-webform-submit-button:hover {
  border-color: #894d0f;
  color: #ffffe1;
  box-shadow: 0 0 10px -1px;
}
.crm-webform-submit-button:active {
  transition: all 20ms;
  transform: translateY(2px);
}
.crm-webform-label {
  // color:  #ffffe1;
}
.crm-webform-input {
  //height: auto;
  height: 24px;
  padding: 0;
  max-width: 175px;
  //background-color:  #142431;
  //border: none;
}
.crm-webform-label-content {
  //background-color: transparent;
}
.crm-webform-wrapper {
  // color:  #DEF1B8;
  font-size: 14px;
}
.crm-webform-fieldset-footer {
  text-align: center;
}
.crm-webform-field-string, .crm-webform-field-phone, .crm-webform-field-integer, .crm-webform-field-address, .crm-webform-field-product  {
  height: 35px;
  padding: 0;
  //background-color:  #142431;
  background-color: #ffffe1;
  margin: 5px;
  border-bottom: 1px solid #894d0f;
}
.crm-webform-fieldset {
  padding: 0;
}
.crm-webform-icon {
  display: none;
}
.crm-webform-label-title-container, .crm-webform-group {
  position: relative;
  top: 50%;
  transform: translate(0%, -25%);
}
.crm-webform-input.crm-webform-input-phone-padding {
  max-width: 150px;
  padding: 0;
}
.crm-webform-field-integer .crm-webform-group {
  max-width: 50px;
}
.crm-webform-field-phone .crm-webform-group {
  margin: 0 0 0 25px;
  max-width: 140px;
}
select.crm-webform-input option:first-child {
  display: none;
}
.crm-webform-input-phone-flag {
  position: absolute;
  top: -1px;
  left: -25px;
}
div[data-bx-form-popup-close]  {
  border: 1px solid rgb(255, 150, 22);
}
.crm-webform-bottom-logo-container {
  display: none;
}