.nav_button {
  position: initial;
  animation: bounce-first 1s ease-in 1 2.5s;
  animation-fill-mode: backwards;
  @keyframes bounce-first {
  0% {
      position: relative;
      bottom: 1500px;
    }
    100% {
      position: relative;
      bottom: -40px;
    }
  }
}
a.slider_scroll_button {
  z-index: 2;
  float: right;
  position: absolute;
  bottom: 50px;
  right: 10%;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  border: 2px solid $brand-color;
  animation: bounce 2s infinite 3s;
  transition: all .2s ease-in;
  transform: translateX(-50%);
  text-align: center;
  font: 400 16px/28px 'FontAwesome';
  color: $brand-color;
  &:visited, &:focus {
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
    color: $main-text-color;
    box-shadow: 0px 0px 10px 1px;
    cursor: pointer;
  }
  @keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
        transform: translate(-17px, 0px);
      }
    40% {
      transform: translate(-17px, -20px);
      height: 33px;
      }
    60% {
      transform: translate(-17px, -7px);
      height: 33px;
    }
    50% {
      height: 29px;
    }
  }
}

@media screen and ($xs) {

}

@media screen and ($sm) {

}

@media screen and ($md) {

}

@media screen and ($lg) {
  a.slider_scroll_button {
    float: right;
    position: relative;
    bottom: -40px;
    right: 150px;
  }
}